@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #f1f1f1;
}

/* モバイル版のスタイル */
body {
  font-size: 16px;
}

.top_nav {
  background-color: #333;
  color: white;
  padding: 100px;
}

/* タブレット版のスタイル */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

/* デスクトップ用のスタイル */
@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}
